@import '../../global/app.css';

.search-result-card-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-shrink: 0;
  background-color: var(--primary-color);
  padding: 0.5rem;
  height: 100%;
}
.image-container {
  min-width: 10rem;
  width: 10rem;
  aspect-ratio: 160/240;
}
.search-result-card-container img {
  width: 100%;
  aspect-ratio: 160/240;
  object-fit: cover;
  border-radius: 0.2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--text-primary-color);
}
