@import '../../global/app.css';

.search-result-card-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-shrink: 0;
  background-color: #344e41;
  padding: 0.2rem;
  height: 100%;
}
.image-container {
  width: 10rem;
  aspect-ratio: 160/240;
}
.search-result-card-container img {
  width: 100%;
  aspect-ratio: 160/240;
  object-fit: cover;
  border-radius: 0.2rem;
}

.text-container {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #dad7cd;
}
