header {
  background: #e9edc9;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 100;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #344e41;
  padding: 0 12px;
  cursor: pointer;
}

form {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

form input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  outline: 0.1rem solid #344e41;
}

form input:focus {
  outline: 0.2rem solid #344e41;
}
