/* .app-home {
  padding: 10px;
} */

.section-header {
  width: 100%;
  padding: 1rem;
  background-color: #ccd5ae;
  display: flex;
}

.options-container {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
}

.home-trending-section ul,
.home-discover-section ul {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding: 2rem 1rem;
  background-color: #a3b18a;
  margin: 0 0 1rem 0;
}

.home-trending-section ul::-webkit-scrollbar,
.home-discover-section ul::-webkit-scrollbar {
  height: 8px;
}

.home-trending-section ul::-webkit-scrollbar-track-piece,
.home-discover-section ul::-webkit-scrollbar-track-piece {
  background: #dad7cd;
  border-radius: 25px;
}

.home-trending-section ul::-webkit-scrollbar-thumb,
.home-discover-section ul::-webkit-scrollbar-thumb {
  background: #344e41;
  border-radius: 25px;
}

.home-trending-section ul::-webkit-scrollbar-button:start:decrement,
.home-trending-section ul::-webkit-scrollbar-button:end:increment,
.home-discover-section ul::-webkit-scrollbar-button:start:decrement,
.home-discover-section ul::-webkit-scrollbar-button:end:increment {
  width: 25%;
  display: block;
  background: transparent;
}
