.app-home {
  padding: 10px;
}

.section-header {
  width: 100%;
  padding: 1rem;
  background-color: aquamarine;
  display: flex;
}

.options-container {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.home-trending-section ul,
.home-discover-section ul {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding: 0.5rem 1rem;
}
