@import '../../global/app.css';

.section-header {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--bg-tertiary-color);
  display: flex;
  align-items: center;
}

.options-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

h2 {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.home-trending-section ul,
.home-discover-section ul {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding: 2rem 1rem;
  background-color: var(--bg-primary-color);
  margin: 0 0 1rem 0;
}

.home-trending-section ul::-webkit-scrollbar,
.home-discover-section ul::-webkit-scrollbar {
  height: 8px;
}

.home-trending-section ul::-webkit-scrollbar-track-piece,
.home-discover-section ul::-webkit-scrollbar-track-piece {
  background: var(--text-primary-color);
  border-radius: 25px;
}

.home-trending-section ul::-webkit-scrollbar-thumb,
.home-discover-section ul::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 25px;
}

.home-trending-section ul::-webkit-scrollbar-button:start:decrement,
.home-trending-section ul::-webkit-scrollbar-button:end:increment,
.home-discover-section ul::-webkit-scrollbar-button:start:decrement,
.home-discover-section ul::-webkit-scrollbar-button:end:increment {
  width: 25%;
  display: block;
  background: transparent;
}

@media (width < 40rem) {
  #instance1::part(custom-select) {
    width: 8rem;
  }
}
