@import '../../global/app.css';

header {
  background: var(--bg-secondary-color);
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 100;
  padding: 1rem;
}

h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
}

form {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

form input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  outline: 0.1rem solid var(--primary-color);
  background-color: var(--text-secondary-color);
}

form input:focus {
  outline: 0.2rem solid var(--primary-color);
}

.search-btn {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  border: none;
  padding: 0;
  background-color: var(--text-secondary-color);
  color: var(--primary-color);
}

@media (width < 40rem) {
  form input {
    width: 6rem;
  }
}
